# config.yaml

paths:
  raw_data: "data/raw"
  processed_data: "data/processed/phase1"
  output_data: "data/output"

preprocessing:
  resize_height: 1024  # Height to resize image to during processing (keeps aspect ratio)

geometry:
  blob_method:
    gaussian_blur:
      ksize: [5, 5]
      sigma: 3
    canny:
      threshold1: 0
      threshold2: 0
    morphology:
      kernel_size: [5, 5]
      close_iterations: 2
      dilate_iterations: 1
    contours:
      max_candidates: 10
      epsilon_factor: 0.02 # Multiplier for arcLength
      min_area_ratio: 0.05 # Minimum area relative to image size
      target_ar: 1.414     # A4 Aspect Ratio
      ar_tolerance_low: 1.1
      ar_tolerance_high: 2.0
    subpixel_refinement:
      window_size: [11, 11]
      zero_zone: [-1, -1]
      max_iterations: 40
      epsilon: 0.001

  hough_method:
    mask_generation:
      blur_ksize: [11, 11]
      otsu_white_ratio_upper: 0.95
      otsu_white_ratio_lower: 0.05
      adaptive_block_size: 21
      adaptive_c: 10
      morph_ksize: [7, 7]
      morph_iterations: 5
    canny:
      threshold1: 50
      threshold2: 150
      aperture_size: 3
    hough_lines:
      rho: 1
      theta_resolution: 1 # In degrees, converted to radians in code
      threshold: 60
    clustering:
      min_rho_diff: 20
      min_theta_diff_deg: 10
      parallel_threshold_deg: 20
      perpendicular_threshold_deg_low: 70
      perpendicular_threshold_deg_high: 110

illumination:
  clahe:
    clip_limit: 1.0
    tile_grid_size: [8, 8]
  adaptive_threshold:
    block_size: 29 # Must be odd
    c: 15

segmentation:
  dataset:
    repo_id: "pierreguillou/DocLayNet-small" 
    training_dir: "data/training_doclaynet"
    limit_train: 8000
    limit_val: 800
  
    
    class_names: [
      "Title",           # 0
      "Text",            # 1
      "Abandon",         # 2 (Background/Noise)
      "Figure",          # 3
      "Figure-caption",  # 4
      "Table",           # 5
      "Table-caption",   # 6
      "Table-footnote",  # 7
      "Formula",         # 8
      "Formula-caption"  # 9
    ]

  model:
    weights: "models/checkpoints/doclayout_yolo_docstructbench_imgsz1024.pt" 
    epochs: 50
    batch_size: 16
    img_size: 1280
    conf_threshold: 0.4

ocr:
  tesseract_cmd: "" # Leave empty for Linux/Mac. For Windows: "C:/Program Files/Tesseract-OCR/tesseract.exe"
  padding: 10       # Pixels to expand the bounding box
  lang: "eng"       # Languages (eng, ara, etc.)
  save_crops: True  # Save cropped images of tables/figures to disk
  
  preprocessing:
    min_height_for_ocr: 45   # Minimum pixel height for reliable OCR
    upscale_factor: 3.0    # Multiplier if crop is too small
  
  postprocessing:
    enable_spellcheck: True 
  # Define how to handle specific classes
  actions:
    ocr: ["Text", "Title", "Section-header", "Page-header", "Page-footer", "List-item", "Caption", "Footnote"]
    image: ["Picture", "Formula"]

synthesis:
  output_dir: "data/output"
  pdf_format: "A4" # 210x297 mm
  font: "DejaVu" 
  font_path: "assets/fonts/DejaVuSans.ttf" # Path to your downloaded file
  
  # Map YOLO labels to PDF Font Styles (Size in pt, Style: 'B'=Bold, ''=Regular)
  styles:
    Title: 
      size: 24
      style: "B"
    Section-header: 
      size: 16
      style: "B"
    Page-header: 
      size: 10
      style: "I"
    Page-footer: 
      size: 10
      style: "I"
    Caption: 
      size: 10
      style: "I"
    Text: 
      size: 11
      style: ""
    List-item: 
      size: 11
      style: ""
    Footnote: 
      size: 8
      style: ""